<%- include('partials/head')%>
<%- include('partials/navbar')%>

<h1>THE HOME PACKAGE <%= 'hello world' .toUpperCase()%>
</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae id excepturi maxime eius vero
    voluptate delectus, unde animi harum in error reprehenderit numquam libero suscipit aut temporibus tenetur
    reiciendis?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem esse iusto velit accusantium voluptas libero
    quidem natus nisi vero quod ratione cum aut rem, quo officia eius, quos unde sed?</p>
<%- include('partials/footer')%>

