<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homet</title>
</head>
<body>
    <h1>THE HOME PACKAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae id excepturi maxime eius vero voluptate delectus, unde animi harum in error reprehenderit numquam libero suscipit aut temporibus tenetur reiciendis?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem esse iusto velit accusantium voluptas libero quidem natus nisi vero quod ratione cum aut rem, quo officia eius, quos unde sed?</p>
</body>
</html>